services:
  audiobooks_green_proxy:
    image: ghcr.io/fabrikant/audiobooks_green_proxy:latest
    container_name: audiobooks_green_proxy
    ports:
      - "8081:8081"
    volumes:
      # SSL certificates will be stored here
      - ./data:/app/data
    environment:
      # If true, Swagger will be available at http[s]://server:port/docs
      - SHOW_SWAGGER=false
      #    Uvicorn accepts the following options for the --log-level parameter:
      # • critical (highest level, critical errors only)
      # • error
      # • warning
      # • info (informational messages, default value)
      # • debug
      # • trace (very verbose debug messages, including request/response bodies, added in recent Uvicorn versions)
      # The log level for the entire application is also set based on this variable
      - LOG_LEVEL=warning

      # *****************************************************************************
      # Variables for launching the Telegram bot.
      # Optional
      # If not set, the bot will not be available.
      # Get it at https://my.telegram.org
      - TELEGRAM_API_ID=
      - TELEGRAM_API_HASH=
      # Get it from the bot https://t.me/BotFather
      - TELEGRAM_BOT_TOKEN=
    
      # *****************************************************************************
      # Optional. For operation without a reverse proxy.
      # Files must be located in the /app/data folder of the application. In other words, in
      # the container's volume
      # - SSL_CERT_FILE=/app/data/fullchain.pem
      # - SSL_PRIVATE_KEY_FILE=/app/data/priv.pem
    restart: unless-stopped
